/* app css stylesheet */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.available-pick {
  float: left;
  width: 10%;
  list-style: none;
}
.available-pick > img {
  padding: 5px;
}
.card {
  float: left;
  width: 20%;
}
.card > img {
  padding: 5px;
}
#game-wrapper {

  border: 1px solid #000;
  margin: 0 auto;
}
.player-wrapper {
  overflow: hidden;
  padding-top: 5px;
}
.player-info {
  float: left;
  width: 16%;
}
.cards-in-play-wrapper {
  float: left;
  width: 84%;
  height: 300px;
  position: relative;
}
.card-in-play {
  /*float: left;*/
  width: 10%;
  position: absolute;
  /*
  top: 0px;
  left: 0px;
  */
  z-index: 1;
}
.card-in-play {
  /*
  -webkit-transition: top 0.5s, left 0.5s;
  -moz-transition: top 0.5s, left 0.5s;
  -o-transition: top 0.5s, left 0.5s;
  */ 
  transition: top 0.5s, left 0.5s, bottom 0.5s, right 0.5s, transform 0.2s;  
}
.card-in-play.isTapped {
  transform: rotate(90deg) ;
  -webkit-transform: rotate(90deg) ;
  -moz-transform: rotate(90deg) ;
  -o-transform: rotate(90deg) ;
  -ms-transform: rotate(90deg) ;  
}
.card-in-hand {
  float: left;
  width: 10%;
  position: relative;
  z-index: 1;
  margin-right: 5px;
}
#own-wrapper {
  border-top: 1px solid #000;
}
#own-top-wrapper {
  overflow: hidden;
}
#own-hand-wrapper {
  /*overflow: hidden;*/
  margin-top: 10px;
  border-top: 1px solid #000;
  padding-top: 10px;
  padding-left: 224px;
}
#own-deck {
  text-align: center;
}
#own-deck img {
  width: 100px;
}
.position-fixed {
  position: fixed;
}
.dropdown {
  z-index: 9999;
}
.dropdown-menu>li>span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}
.dropdown-menu > li > span:hover,
.dropdown-menu > li > span:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}