<div class="row">
  <div class="col-md-12">
    <h2>Add lands:</h2>
    <ul style="overflow: hidden;">
      <li ng-repeat="land in lands" class="card">
        <img ng-click="addLand(land)" ng-src="http://mtgimage.com/set/UNH/{{land}}.jpg">
        #: {{ landsInDeck[land] }}
        <button type="button" ng-click="removeLand(land)">Remove one</button>
        <!--<div ng-click="addToDeck(card)">{{card.name}}</div>-->
      </li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  	<h2>Deckbuilding: </h2>
    <ul style="overflow: hidden;">
      <li ng-repeat="card in cardsForDeckbuilding.cards" class="card">
        <img ng-click="addToDeck(card)" ng-src="http://mtgimage.com/multiverseid/{{card.multiverseid}}.jpg">
        <!--<div ng-click="addToDeck(card)">{{card.name}}</div>-->
      </li>
    </ul>  
  </div>
  <div class="col-md-6">
  	<h2>Cards in Deck: </h2>
    <ul style="overflow: hidden;">
      <li ng-repeat="card in cardsInDeck.cards" class="card">
        <img ng-click="removeFromDeck(card)" ng-src="http://mtgimage.com/multiverseid/{{card.multiverseid}}.jpg">
        <!--<div ng-click="removeFromDeck(card)">{{card.name}}</div>-->
      </li>
    </ul>
  </div>  
</div>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-success" ng-click="buildDraftDeck()">Finish Building</button>
  </div>
</div>