<div class="row">
	<div class="col-md-12">
		<h2 style="margin: 0;">Available Picks:</h2>
	    <ul style="overflow: hidden;">
	      <li ng-repeat="card in availablePicks.cards" class="available-pick">
	        <img ng-click="choosePick(card)" ng-src="http://mtgimage.com/multiverseid/{{card.multiverseid}}.jpg">
	        <!--<div ng-click="choosePick(card)">{{card.name}}</div>-->
	      </li>
	    </ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Picked Cards:</h2>
	    <ul style="overflow: hidden;">
	      <li ng-repeat="card in pickedCards" class="card">
	        <img ng-src="http://mtgimage.com/multiverseid/{{card.multiverseid}}.jpg">
	        <!--<div ng-click="choosePick(card)">{{card.name}}</div>-->
	      </li>
	    </ul>		
	</div>
</div>