<div class="row">
  <div class="col-md-6">
    <input type="text" ng-model="username" ng-disabled="!canSubmit"/>
    <button type="button" ng-click="logIn()" ng-disabled="!canSubmit">Login</button>
  </div>
</div>