
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Im a modal!</h3>
        </div>
        <div class="modal-body">
        	<span>Username:</span>
        	<input class="form-control" type="text" ng-model="credentials.username" required/>
        	<span>Password:</span>
        	<input class="form-control" type="password" ng-model="credentials.password" required/>

        	<button class="btn btn-success" ng-click="attemptLogin()">Login</button>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-info" ng-click="open()">Login!</button>

