<div class="row">
  <div class="col-md-6">
    <h1>Start a new Draft!</h1>

    <div>
      <form name="draftForm" ng-submit="startDraftQueue()">
        <div>
          <div>Max. Players:</div>
          <input type="number" ng-model="draft.maxPlayers" min="1" max="8" required name="max-players" ng-disabled="formDisabled"/>  
        </div>
        <h3>Choose the packs:</h3>
        <div>
          <h5>1st Pack</h5>
          <select ng-model="draft.packs[0]" ng-options="e.name for e in draftableEditions" ng-disabled="formDisabled"></select>
        </div>
        <div>
          <h5>2nd Pack</h5>
          <select ng-model="draft.packs[1]" ng-options="e.name for e in draftableEditions" ng-disabled="formDisabled"></select>
        </div>
        <div>
          <h5>3rd Pack</h5>
          <select ng-model="draft.packs[2]" ng-options="e.name for e in draftableEditions" ng-disabled="formDisabled"></select>
        </div>    
        <button type="submit" class="btn btn-success" ng-disabled="formDisabled || !notInQueue()">Start</button>
      </form>
    </div> 

  </div>
  <div class="col-md-6">
    <ul>
      <li ng-repeat="q in draftQueues.queues">
        <h4>DraftQueue ({{q.players.length}}/{{q.draftInformation.maxPlayers}}):</h4>
        <div ng-repeat="p in q.draftInformation.packs">{{p.name}}</div>
        <div ng-show="notInQueue()">
          <button type="button" class="btn btn-info" ng-click="joinQueue(q)">Join Queue</button>
        </div>
        <div ng-show="isPlayerQueue(q)">
          <button type="button" class="btn btn-danger" ng-click="leaveQueue()">Leave Queue</button>
        </div>
      </li>
    </ul>
  </div>
</div>
