<div>
	<h2>Players online: {{ connectionManager.users.usersOnline }}</h2>
	<ul>
		<li ng-repeat="user in connectionManager.users.users">
		    id: {{ user.id }} - {{ user.name }}
		</li>
	</ul>	
</div>