<h1>Waiting for players ({{ playersInQueue() }}/{{ playerQueue.queue.draftInformation.maxPlayers }})</h1>

<h3>Packs:</h3>
<div ng-repeat="p in playerQueue.queue.draftInformation.packs">{{p.name}}</div>

<h3>Players:</h3>
<div ng-repeat="p in playerQueue.queue.players">{{p}}</div>